.whitePara {
    color: white;
    font-weight: bold;
}

.smallTextFoundation {
    color: #4291f8;
    font-size: small;
    text-align: center;
}

.smallTextStrategic {
    color: #0f01ca;
    font-size: small;
    text-align: center;
}

.smallTextAdvanced {
    color: #2aaa04;
    font-size: small;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    align-items: center;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }